body{
	background-image: radial-gradient(circle, #b9fffc, #77e5fc, #3ac7ff, #3ea3fd, #7579e7);
	color: #191D0E;
}
.container {
	width: 600px;
	float: left;
	padding-left: 5rem;
}

.title {
	font-size: 12pt;
	font-weight: bold;
}

.header {
	display: flex;
	justify-content: center;
	background-color: #7c0098;
	margin-bottom: 2rem;
}

.text{
	display:flex;
	flex-wrap: wrap;
	margin-left: 2rem;
}

.data{
	display: flex;
	width: 50%;
	margin-top: 0.5rem;
}

#analysis {
	width: 400px;
	min-height: 240px;
	border: 1px solid #008000;
}
#camara {
	width: 320px;
	min-height: 240px;
	border: 1px solid #008000;
	align-items: right;
}
#start_over {
	position: absolute;
	background-color: #7c0098;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	cursor: pointer;
}

#start_over span {
	position: absolute;
	font-size: 30px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	display: block;
	height: 20px;
	margin: auto;
	text-align: center;
}

#myProgress {
	width: 86%;
	background-color: #C8FFD4;
}

#myBar {
	width: 1%;
	height: 30px;
	background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

#videoContainer {
	margin: 0px auto;
	margin-bottom: 2rem;
	width: 550px;
	height: 450px;
	border: 10px #00C5B9 solid;
}

#videoElement {
	width: 550px;
	height: 450px;
	background-color: #00C5B9;
}
